/*
StackState API

This API documentation page describes the StackState server API. The StackState UI and CLI use the StackState server API to configure and query StackState.  You can use the API for similar purposes.  Each request sent to the StackState server API must be authenticated using one of the available authentication methods.   *Note that the StackState receiver API, used to send topology, telemetry and traces to StackState, is not described on this page and requires a different authentication method.*  For more information on StackState, refer to the [StackState documentation](https://docs.stackstate.com).

API version: 5.2.0
Contact: info@stackstate.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package stackstate_api

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

type ComponentApi interface {

	/*
		GetComponentBoundMetric Get a bound metric for a component

		Bind the variables in a metric binding to a component to get valid queries for fetching metric data

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param componentIdOrIdentifier The id or identifier (urn) of a component
		@return ApiGetComponentBoundMetricRequest
	*/
	GetComponentBoundMetric(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentBoundMetricRequest

	// GetComponentBoundMetricExecute executes the request
	//  @return BoundMetric
	GetComponentBoundMetricExecute(r ApiGetComponentBoundMetricRequest) (*BoundMetric, *http.Response, error)

	/*
		GetComponentCheckStates Get a component checkstates

		Get a component checkstates for a defined period of time by id or identifier

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param componentIdOrIdentifier The id or identifier (urn) of a component
		@return ApiGetComponentCheckStatesRequest
	*/
	GetComponentCheckStates(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentCheckStatesRequest

	// GetComponentCheckStatesExecute executes the request
	//  @return ComponentCheckStates
	GetComponentCheckStatesExecute(r ApiGetComponentCheckStatesRequest) (*ComponentCheckStates, *http.Response, error)

	/*
		GetComponentHealthHistory Get a component health history

		Get a component health history for a defined period of time by id or identifier

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param componentIdOrIdentifier The id or identifier (urn) of a component
		@return ApiGetComponentHealthHistoryRequest
	*/
	GetComponentHealthHistory(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentHealthHistoryRequest

	// GetComponentHealthHistoryExecute executes the request
	//  @return ComponentHealthHistory
	GetComponentHealthHistoryExecute(r ApiGetComponentHealthHistoryRequest) (*ComponentHealthHistory, *http.Response, error)

	/*
		GetFullComponent Get full component

		Get full component details

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param componentIdOrIdentifier The id or identifier (urn) of a component
		@return ApiGetFullComponentRequest
	*/
	GetFullComponent(ctx context.Context, componentIdOrIdentifier string) ApiGetFullComponentRequest

	// GetFullComponentExecute executes the request
	//  @return FullComponent
	GetFullComponentExecute(r ApiGetFullComponentRequest) (*FullComponent, *http.Response, error)

	/*
		GetMetricPerspectiveData Bound metric bindings that have data for a component

		Bound metric bindings for metrics that have data for a component

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param componentIdOrIdentifier The id or identifier (urn) of a component
		@return ApiGetMetricPerspectiveDataRequest
	*/
	GetMetricPerspectiveData(ctx context.Context, componentIdOrIdentifier string) ApiGetMetricPerspectiveDataRequest

	// GetMetricPerspectiveDataExecute executes the request
	//  @return MetricPerspectiveData
	GetMetricPerspectiveDataExecute(r ApiGetMetricPerspectiveDataRequest) (*MetricPerspectiveData, *http.Response, error)
}

// ComponentApiService ComponentApi service
type ComponentApiService service

type ApiGetComponentBoundMetricRequest struct {
	ctx                     context.Context
	ApiService              ComponentApi
	componentIdOrIdentifier string
	boundMetricId           *BoundMetricId
	topologyTime            *int32
}

func (r ApiGetComponentBoundMetricRequest) BoundMetricId(boundMetricId BoundMetricId) ApiGetComponentBoundMetricRequest {
	r.boundMetricId = &boundMetricId
	return r
}

// A timestamp at which resources will be queried. If not given the resources are queried at current time.
func (r ApiGetComponentBoundMetricRequest) TopologyTime(topologyTime int32) ApiGetComponentBoundMetricRequest {
	r.topologyTime = &topologyTime
	return r
}

func (r ApiGetComponentBoundMetricRequest) Execute() (*BoundMetric, *http.Response, error) {
	return r.ApiService.GetComponentBoundMetricExecute(r)
}

/*
GetComponentBoundMetric Get a bound metric for a component

Bind the variables in a metric binding to a component to get valid queries for fetching metric data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param componentIdOrIdentifier The id or identifier (urn) of a component
	@return ApiGetComponentBoundMetricRequest
*/
func (a *ComponentApiService) GetComponentBoundMetric(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentBoundMetricRequest {
	return ApiGetComponentBoundMetricRequest{
		ApiService:              a,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

// Execute executes the request
//
//	@return BoundMetric
func (a *ComponentApiService) GetComponentBoundMetricExecute(r ApiGetComponentBoundMetricRequest) (*BoundMetric, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BoundMetric
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentApiService.GetComponentBoundMetric")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/{componentIdOrIdentifier}/bindmetric"
	localVarPath = strings.Replace(localVarPath, "{"+"componentIdOrIdentifier"+"}", url.PathEscape(parameterToString(r.componentIdOrIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.boundMetricId == nil {
		return localVarReturnValue, nil, reportError("boundMetricId is required and must be specified")
	}

	if r.topologyTime != nil {
		localVarQueryParams.Add("topologyTime", parameterToString(*r.topologyTime, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.boundMetricId
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceBearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-ServiceBearer"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GenericErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComponentCheckStatesRequest struct {
	ctx                     context.Context
	ApiService              ComponentApi
	componentIdOrIdentifier string
	startTime               *int32
	endTime                 *int32
}

// The start time of a time range to query resources.
func (r ApiGetComponentCheckStatesRequest) StartTime(startTime int32) ApiGetComponentCheckStatesRequest {
	r.startTime = &startTime
	return r
}

// The end time of a time range to query resources. If not given the endTime is set to current time.
func (r ApiGetComponentCheckStatesRequest) EndTime(endTime int32) ApiGetComponentCheckStatesRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetComponentCheckStatesRequest) Execute() (*ComponentCheckStates, *http.Response, error) {
	return r.ApiService.GetComponentCheckStatesExecute(r)
}

/*
GetComponentCheckStates Get a component checkstates

Get a component checkstates for a defined period of time by id or identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param componentIdOrIdentifier The id or identifier (urn) of a component
	@return ApiGetComponentCheckStatesRequest
*/
func (a *ComponentApiService) GetComponentCheckStates(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentCheckStatesRequest {
	return ApiGetComponentCheckStatesRequest{
		ApiService:              a,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

// Execute executes the request
//
//	@return ComponentCheckStates
func (a *ComponentApiService) GetComponentCheckStatesExecute(r ApiGetComponentCheckStatesRequest) (*ComponentCheckStates, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComponentCheckStates
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentApiService.GetComponentCheckStates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/{componentIdOrIdentifier}/checkStates"
	localVarPath = strings.Replace(localVarPath, "{"+"componentIdOrIdentifier"+"}", url.PathEscape(parameterToString(r.componentIdOrIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startTime == nil {
		return localVarReturnValue, nil, reportError("startTime is required and must be specified")
	}

	localVarQueryParams.Add("startTime", parameterToString(*r.startTime, ""))
	if r.endTime != nil {
		localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceBearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-ServiceBearer"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GenericErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComponentHealthHistoryRequest struct {
	ctx                     context.Context
	ApiService              ComponentApi
	componentIdOrIdentifier string
	startTime               *int32
	endTime                 *int32
}

// The start time of a time range to query resources.
func (r ApiGetComponentHealthHistoryRequest) StartTime(startTime int32) ApiGetComponentHealthHistoryRequest {
	r.startTime = &startTime
	return r
}

// The end time of a time range to query resources. If not given the endTime is set to current time.
func (r ApiGetComponentHealthHistoryRequest) EndTime(endTime int32) ApiGetComponentHealthHistoryRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetComponentHealthHistoryRequest) Execute() (*ComponentHealthHistory, *http.Response, error) {
	return r.ApiService.GetComponentHealthHistoryExecute(r)
}

/*
GetComponentHealthHistory Get a component health history

Get a component health history for a defined period of time by id or identifier

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param componentIdOrIdentifier The id or identifier (urn) of a component
	@return ApiGetComponentHealthHistoryRequest
*/
func (a *ComponentApiService) GetComponentHealthHistory(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentHealthHistoryRequest {
	return ApiGetComponentHealthHistoryRequest{
		ApiService:              a,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

// Execute executes the request
//
//	@return ComponentHealthHistory
func (a *ComponentApiService) GetComponentHealthHistoryExecute(r ApiGetComponentHealthHistoryRequest) (*ComponentHealthHistory, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComponentHealthHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentApiService.GetComponentHealthHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/{componentIdOrIdentifier}/healthHistory"
	localVarPath = strings.Replace(localVarPath, "{"+"componentIdOrIdentifier"+"}", url.PathEscape(parameterToString(r.componentIdOrIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startTime == nil {
		return localVarReturnValue, nil, reportError("startTime is required and must be specified")
	}

	localVarQueryParams.Add("startTime", parameterToString(*r.startTime, ""))
	if r.endTime != nil {
		localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceBearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-ServiceBearer"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GenericErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFullComponentRequest struct {
	ctx                     context.Context
	ApiService              ComponentApi
	componentIdOrIdentifier string
	topologyTime            *int32
}

// A timestamp at which resources will be queried. If not given the resources are queried at current time.
func (r ApiGetFullComponentRequest) TopologyTime(topologyTime int32) ApiGetFullComponentRequest {
	r.topologyTime = &topologyTime
	return r
}

func (r ApiGetFullComponentRequest) Execute() (*FullComponent, *http.Response, error) {
	return r.ApiService.GetFullComponentExecute(r)
}

/*
GetFullComponent Get full component

Get full component details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param componentIdOrIdentifier The id or identifier (urn) of a component
	@return ApiGetFullComponentRequest
*/
func (a *ComponentApiService) GetFullComponent(ctx context.Context, componentIdOrIdentifier string) ApiGetFullComponentRequest {
	return ApiGetFullComponentRequest{
		ApiService:              a,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

// Execute executes the request
//
//	@return FullComponent
func (a *ComponentApiService) GetFullComponentExecute(r ApiGetFullComponentRequest) (*FullComponent, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FullComponent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentApiService.GetFullComponent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/{componentIdOrIdentifier}"
	localVarPath = strings.Replace(localVarPath, "{"+"componentIdOrIdentifier"+"}", url.PathEscape(parameterToString(r.componentIdOrIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.topologyTime != nil {
		localVarQueryParams.Add("topologyTime", parameterToString(*r.topologyTime, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceBearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-ServiceBearer"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GenericErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMetricPerspectiveDataRequest struct {
	ctx                     context.Context
	ApiService              ComponentApi
	componentIdOrIdentifier string
	startTime               *int32
	endTime                 *int32
	topologyTime            *int32
}

// The start time of a time range to query resources.
func (r ApiGetMetricPerspectiveDataRequest) StartTime(startTime int32) ApiGetMetricPerspectiveDataRequest {
	r.startTime = &startTime
	return r
}

// The end time of a time range to query resources.
func (r ApiGetMetricPerspectiveDataRequest) EndTime(endTime int32) ApiGetMetricPerspectiveDataRequest {
	r.endTime = &endTime
	return r
}

// A timestamp at which resources will be queried. If not given the resources are queried at current time.
func (r ApiGetMetricPerspectiveDataRequest) TopologyTime(topologyTime int32) ApiGetMetricPerspectiveDataRequest {
	r.topologyTime = &topologyTime
	return r
}

func (r ApiGetMetricPerspectiveDataRequest) Execute() (*MetricPerspectiveData, *http.Response, error) {
	return r.ApiService.GetMetricPerspectiveDataExecute(r)
}

/*
GetMetricPerspectiveData Bound metric bindings that have data for a component

Bound metric bindings for metrics that have data for a component

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param componentIdOrIdentifier The id or identifier (urn) of a component
	@return ApiGetMetricPerspectiveDataRequest
*/
func (a *ComponentApiService) GetMetricPerspectiveData(ctx context.Context, componentIdOrIdentifier string) ApiGetMetricPerspectiveDataRequest {
	return ApiGetMetricPerspectiveDataRequest{
		ApiService:              a,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

// Execute executes the request
//
//	@return MetricPerspectiveData
func (a *ComponentApiService) GetMetricPerspectiveDataExecute(r ApiGetMetricPerspectiveDataRequest) (*MetricPerspectiveData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MetricPerspectiveData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentApiService.GetMetricPerspectiveData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/{componentIdOrIdentifier}/metricPerspectiveData"
	localVarPath = strings.Replace(localVarPath, "{"+"componentIdOrIdentifier"+"}", url.PathEscape(parameterToString(r.componentIdOrIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startTime == nil {
		return localVarReturnValue, nil, reportError("startTime is required and must be specified")
	}
	if r.endTime == nil {
		return localVarReturnValue, nil, reportError("endTime is required and must be specified")
	}

	if r.topologyTime != nil {
		localVarQueryParams.Add("topologyTime", parameterToString(*r.topologyTime, ""))
	}
	localVarQueryParams.Add("startTime", parameterToString(*r.startTime, ""))
	localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceBearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-ServiceBearer"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GenericErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// ---------------------------------------------
// ------------------ MOCKS --------------------
// ---------------------------------------------

type ComponentApiMock struct {
	GetComponentBoundMetricCalls      *[]GetComponentBoundMetricCall
	GetComponentBoundMetricResponse   GetComponentBoundMetricMockResponse
	GetComponentCheckStatesCalls      *[]GetComponentCheckStatesCall
	GetComponentCheckStatesResponse   GetComponentCheckStatesMockResponse
	GetComponentHealthHistoryCalls    *[]GetComponentHealthHistoryCall
	GetComponentHealthHistoryResponse GetComponentHealthHistoryMockResponse
	GetFullComponentCalls             *[]GetFullComponentCall
	GetFullComponentResponse          GetFullComponentMockResponse
	GetMetricPerspectiveDataCalls     *[]GetMetricPerspectiveDataCall
	GetMetricPerspectiveDataResponse  GetMetricPerspectiveDataMockResponse
}

func NewComponentApiMock() ComponentApiMock {
	xGetComponentBoundMetricCalls := make([]GetComponentBoundMetricCall, 0)
	xGetComponentCheckStatesCalls := make([]GetComponentCheckStatesCall, 0)
	xGetComponentHealthHistoryCalls := make([]GetComponentHealthHistoryCall, 0)
	xGetFullComponentCalls := make([]GetFullComponentCall, 0)
	xGetMetricPerspectiveDataCalls := make([]GetMetricPerspectiveDataCall, 0)
	return ComponentApiMock{
		GetComponentBoundMetricCalls:   &xGetComponentBoundMetricCalls,
		GetComponentCheckStatesCalls:   &xGetComponentCheckStatesCalls,
		GetComponentHealthHistoryCalls: &xGetComponentHealthHistoryCalls,
		GetFullComponentCalls:          &xGetFullComponentCalls,
		GetMetricPerspectiveDataCalls:  &xGetMetricPerspectiveDataCalls,
	}
}

type GetComponentBoundMetricMockResponse struct {
	Result   BoundMetric
	Response *http.Response
	Error    error
}

type GetComponentBoundMetricCall struct {
	PcomponentIdOrIdentifier string
	PboundMetricId           *BoundMetricId
	PtopologyTime            *int32
}

func (mock ComponentApiMock) GetComponentBoundMetric(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentBoundMetricRequest {
	return ApiGetComponentBoundMetricRequest{
		ApiService:              mock,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

func (mock ComponentApiMock) GetComponentBoundMetricExecute(r ApiGetComponentBoundMetricRequest) (*BoundMetric, *http.Response, error) {
	p := GetComponentBoundMetricCall{
		PcomponentIdOrIdentifier: r.componentIdOrIdentifier,
		PboundMetricId:           r.boundMetricId,
		PtopologyTime:            r.topologyTime,
	}
	*mock.GetComponentBoundMetricCalls = append(*mock.GetComponentBoundMetricCalls, p)
	return &mock.GetComponentBoundMetricResponse.Result, mock.GetComponentBoundMetricResponse.Response, mock.GetComponentBoundMetricResponse.Error
}

type GetComponentCheckStatesMockResponse struct {
	Result   ComponentCheckStates
	Response *http.Response
	Error    error
}

type GetComponentCheckStatesCall struct {
	PcomponentIdOrIdentifier string
	PstartTime               *int32
	PendTime                 *int32
}

func (mock ComponentApiMock) GetComponentCheckStates(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentCheckStatesRequest {
	return ApiGetComponentCheckStatesRequest{
		ApiService:              mock,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

func (mock ComponentApiMock) GetComponentCheckStatesExecute(r ApiGetComponentCheckStatesRequest) (*ComponentCheckStates, *http.Response, error) {
	p := GetComponentCheckStatesCall{
		PcomponentIdOrIdentifier: r.componentIdOrIdentifier,
		PstartTime:               r.startTime,
		PendTime:                 r.endTime,
	}
	*mock.GetComponentCheckStatesCalls = append(*mock.GetComponentCheckStatesCalls, p)
	return &mock.GetComponentCheckStatesResponse.Result, mock.GetComponentCheckStatesResponse.Response, mock.GetComponentCheckStatesResponse.Error
}

type GetComponentHealthHistoryMockResponse struct {
	Result   ComponentHealthHistory
	Response *http.Response
	Error    error
}

type GetComponentHealthHistoryCall struct {
	PcomponentIdOrIdentifier string
	PstartTime               *int32
	PendTime                 *int32
}

func (mock ComponentApiMock) GetComponentHealthHistory(ctx context.Context, componentIdOrIdentifier string) ApiGetComponentHealthHistoryRequest {
	return ApiGetComponentHealthHistoryRequest{
		ApiService:              mock,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

func (mock ComponentApiMock) GetComponentHealthHistoryExecute(r ApiGetComponentHealthHistoryRequest) (*ComponentHealthHistory, *http.Response, error) {
	p := GetComponentHealthHistoryCall{
		PcomponentIdOrIdentifier: r.componentIdOrIdentifier,
		PstartTime:               r.startTime,
		PendTime:                 r.endTime,
	}
	*mock.GetComponentHealthHistoryCalls = append(*mock.GetComponentHealthHistoryCalls, p)
	return &mock.GetComponentHealthHistoryResponse.Result, mock.GetComponentHealthHistoryResponse.Response, mock.GetComponentHealthHistoryResponse.Error
}

type GetFullComponentMockResponse struct {
	Result   FullComponent
	Response *http.Response
	Error    error
}

type GetFullComponentCall struct {
	PcomponentIdOrIdentifier string
	PtopologyTime            *int32
}

func (mock ComponentApiMock) GetFullComponent(ctx context.Context, componentIdOrIdentifier string) ApiGetFullComponentRequest {
	return ApiGetFullComponentRequest{
		ApiService:              mock,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

func (mock ComponentApiMock) GetFullComponentExecute(r ApiGetFullComponentRequest) (*FullComponent, *http.Response, error) {
	p := GetFullComponentCall{
		PcomponentIdOrIdentifier: r.componentIdOrIdentifier,
		PtopologyTime:            r.topologyTime,
	}
	*mock.GetFullComponentCalls = append(*mock.GetFullComponentCalls, p)
	return &mock.GetFullComponentResponse.Result, mock.GetFullComponentResponse.Response, mock.GetFullComponentResponse.Error
}

type GetMetricPerspectiveDataMockResponse struct {
	Result   MetricPerspectiveData
	Response *http.Response
	Error    error
}

type GetMetricPerspectiveDataCall struct {
	PcomponentIdOrIdentifier string
	PstartTime               *int32
	PendTime                 *int32
	PtopologyTime            *int32
}

func (mock ComponentApiMock) GetMetricPerspectiveData(ctx context.Context, componentIdOrIdentifier string) ApiGetMetricPerspectiveDataRequest {
	return ApiGetMetricPerspectiveDataRequest{
		ApiService:              mock,
		ctx:                     ctx,
		componentIdOrIdentifier: componentIdOrIdentifier,
	}
}

func (mock ComponentApiMock) GetMetricPerspectiveDataExecute(r ApiGetMetricPerspectiveDataRequest) (*MetricPerspectiveData, *http.Response, error) {
	p := GetMetricPerspectiveDataCall{
		PcomponentIdOrIdentifier: r.componentIdOrIdentifier,
		PstartTime:               r.startTime,
		PendTime:                 r.endTime,
		PtopologyTime:            r.topologyTime,
	}
	*mock.GetMetricPerspectiveDataCalls = append(*mock.GetMetricPerspectiveDataCalls, p)
	return &mock.GetMetricPerspectiveDataResponse.Result, mock.GetMetricPerspectiveDataResponse.Response, mock.GetMetricPerspectiveDataResponse.Error
}
