/*
StackState API

This API documentation page describes the StackState server API. The StackState UI and CLI use the StackState server API to configure and query StackState.  You can use the API for similar purposes.  Each request sent to the StackState server API must be authenticated using one of the available authentication methods.   *Note that the StackState receiver API, used to send topology, telemetry and traces to StackState, is not described on this page and requires a different authentication method.*  For more information on StackState, refer to the [StackState documentation](https://docs.stackstate.com).

API version: 5.2.0
Contact: info@stackstate.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package stackstate_api

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

type RelationApi interface {

	/*
		GetFullRelation Get full relation

		Get full relation details

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param relationId The id of a relation
		@return ApiGetFullRelationRequest
	*/
	GetFullRelation(ctx context.Context, relationId int64) ApiGetFullRelationRequest

	// GetFullRelationExecute executes the request
	//  @return FullRelation
	GetFullRelationExecute(r ApiGetFullRelationRequest) (*FullRelation, *http.Response, error)
}

// RelationApiService RelationApi service
type RelationApiService service

type ApiGetFullRelationRequest struct {
	ctx          context.Context
	ApiService   RelationApi
	relationId   int64
	topologyTime *int32
}

// A timestamp at which resources will be queried. If not given the resources are queried at current time.
func (r ApiGetFullRelationRequest) TopologyTime(topologyTime int32) ApiGetFullRelationRequest {
	r.topologyTime = &topologyTime
	return r
}

func (r ApiGetFullRelationRequest) Execute() (*FullRelation, *http.Response, error) {
	return r.ApiService.GetFullRelationExecute(r)
}

/*
GetFullRelation Get full relation

Get full relation details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param relationId The id of a relation
	@return ApiGetFullRelationRequest
*/
func (a *RelationApiService) GetFullRelation(ctx context.Context, relationId int64) ApiGetFullRelationRequest {
	return ApiGetFullRelationRequest{
		ApiService: a,
		ctx:        ctx,
		relationId: relationId,
	}
}

// Execute executes the request
//
//	@return FullRelation
func (a *RelationApiService) GetFullRelationExecute(r ApiGetFullRelationRequest) (*FullRelation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FullRelation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RelationApiService.GetFullRelation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/relations/{relationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"relationId"+"}", url.PathEscape(parameterToString(r.relationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.topologyTime != nil {
		localVarQueryParams.Add("topologyTime", parameterToString(*r.topologyTime, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceBearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-ServiceBearer"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ServiceToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v StackElementNotFound
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GenericErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

// ---------------------------------------------
// ------------------ MOCKS --------------------
// ---------------------------------------------

type RelationApiMock struct {
	GetFullRelationCalls    *[]GetFullRelationCall
	GetFullRelationResponse GetFullRelationMockResponse
}

func NewRelationApiMock() RelationApiMock {
	xGetFullRelationCalls := make([]GetFullRelationCall, 0)
	return RelationApiMock{
		GetFullRelationCalls: &xGetFullRelationCalls,
	}
}

type GetFullRelationMockResponse struct {
	Result   FullRelation
	Response *http.Response
	Error    error
}

type GetFullRelationCall struct {
	PrelationId   int64
	PtopologyTime *int32
}

func (mock RelationApiMock) GetFullRelation(ctx context.Context, relationId int64) ApiGetFullRelationRequest {
	return ApiGetFullRelationRequest{
		ApiService: mock,
		ctx:        ctx,
		relationId: relationId,
	}
}

func (mock RelationApiMock) GetFullRelationExecute(r ApiGetFullRelationRequest) (*FullRelation, *http.Response, error) {
	p := GetFullRelationCall{
		PrelationId:   r.relationId,
		PtopologyTime: r.topologyTime,
	}
	*mock.GetFullRelationCalls = append(*mock.GetFullRelationCalls, p)
	return &mock.GetFullRelationResponse.Result, mock.GetFullRelationResponse.Response, mock.GetFullRelationResponse.Error
}
